@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
:root{
    --background-img: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url(img/fondo.jpg);
    --portfolio-color: linear-gradient(rgba(234, 84, 84, 0.8),rgba(234, 84, 84, 0.8));
    --white-texts: #FDE9C9;
    --contrast: #EA5455;
    --background-box: #343434;
    --boxes: #2D4059;
    --font-tittles: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
    font-family: var(--font-tittles);
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago click en los link del menu */
    scroll-behavior: smooth;
}

/***********MENU***************/

.container-header{
    background: var(--background-box);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.container-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.container-header header .logo a{
    font-family: var(--font-tittles);
    font-size: 36px;
    color: var(--contrast);
    text-decoration: none;
}
.container-header header ul{
    display: flex;
    list-style: none;
}
.container-header header ul li a{
    text-align: none;
    color: var(--white-texts);
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.container-header header ul li a:hover{
    color: var(--contrast);
}
.nav-responsive{
    color: var(--contrast);
    color: var(--white-texts);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/******HOME SECCION********/

.home{
    background: var(--background-img);
    background-size: cover;
    height: 100vh;
    color: var(--white-texts);
    display: flex;
    align-items: center;
}
.home .container-banner{
    padding: 20px;
    background: var(--background-box);
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.home .container-banner img{
    margin-top: 40px;
    color: var(--contrast);
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100% ;
}
.home .container-banner .greeting{
    margin-top: 40px;
}
.home .container-banner h1{
    color: var(--contrast);
    margin-top: 5px;
    font-size: 40px;
    font-family: var(--font-tittles);
}
.home .container-banner h1:hover{
    color: var(--white-texts);
    transition: .8s;
}
.home .container-banner h2{
    margin: 5px;
    font-size: 20px;
    font-weight: normal;
}
.home .container-banner .networks a{
    color: var(--white-texts);
    display: inline-block;
    text-decoration: none;
    color: var(--white-texts);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.home .container-banner .networks a:hover{
    color: var(--contrast);
}

/******ABOUT ME********/

.aboutme{
    background: var(--background-box);
    color: var(--white-texts);
    padding: 50px 20px;
}
.aboutme .container-section{
    max-width: 1100px;
    margin: auto;
}
.aboutme h2{
    font-size: 48px;
    font-family: var(--font-tittles);
    text-align: center;
    padding: 20px 0;
}
.aboutme .container-section p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.aboutme .container-section p span{
    color: var(--contrast);
    font-weight: bold;
}
.aboutme .file{
    display: flex;
}
.aboutme .file .col{
    width: 50%;
}
.aboutme .file .col h3{
    font-size: 28px;
    font-family: var(--font-tittles);
    margin-bottom: 25px;
}
.aboutme .file .col ul{
    list-style: none;
}
.aboutme .file .col ul li{
    margin: 12px 0;
}
.aboutme .file .col ul li strong{
    display: inline-block;
    color: var(--contrast);
    width: 130px;
}
.aboutme .file .col .container-interests{
    display: flex;
    flex-wrap: wrap;
}
.aboutme .file .col .container-interests .interest{
    width: 100px;
    height: 100px;
    background: var(--boxes);
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.aboutme .file .col .container-interests .interest:hover{
    color: var(--contrast);
    cursor: pointer;
}
.aboutme .file .col .container-interests .interest i{
    font-size: 30px;
    margin-bottom: 10px;
}
.aboutme button{
    cursor: pointer;
    background: transparent;
    color: var(--white-texts);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: var(--white-texts);
    position: relative;
    z-index: 10;
}
.aboutme button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--contrast);
    z-index: -1;
    transition: 1s;
}
.aboutme button:hover .overlay{
    width: 100%;
}

/******SECCION TECHNICAL SKILLS********/

.skills{
    background: var(--background-img);
    background-size: cover;
    color: var(--white-texts);
    padding: 50px 20px;
}
.skills .container-section{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: var(--font-tittles);
    text-align: center;
    padding: 20px 0;
}
.skills .file{
    display: flex;
}
.skills .file .col{
    width: 50%;
    padding: 0 20px;
}
.skills .file .col h3{
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .skill-bar{
    height: 8px;
    width: 80%;
    background-color: var(--boxes);
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progress{
    background-color: var(--contrast);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .skill-bar span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--contrast);
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/* Estas clases se agregaran dinamicamente mediante javascript */

.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript{
    0%{width:0%;}
    100%{width: 5%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss{
    0%{width:0%;}
    100%{width: 48%;}
}

.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop{
    0%{width:0%;}
    100%{width: 85%;}
}

.skills .skill .cSharp{
    width: 0%;
    animation: 2s cSharp forwards;
}
@keyframes cSharp{
    0%{width:0%;}
    100%{width: 15%;}
}

.skills .skill .unity{
    width: 0%;
    animation: 2s unity forwards;
}
@keyframes unity{
    0%{width:0%;}
    100%{width: 18%;}
}

.skills .skill .adobeIllustrator{
    width: 0%;
    animation: 2s adobeIllustrator forwards;
}
@keyframes adobeIllustrator{
    0%{width:0%;}
    100%{width: 85%;}
}

.skills .skill .english{
    width: 0%;
    animation: 2s english forwards;
}
@keyframes english{
    0%{width:0%;}
    100%{width: 65%;}
}

/******SECCION PORTFOLIO********/

.portfolio{
    background-color: var(--background-box);
    color: var(--white-texts);
    padding: 50px 20px;
}
.portfolio .container-section{    
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 48px;
    font-family: var(--font-tittles);
    text-align: center;
    padding: 20px 0;
}
.portfolio .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .gallery .Project{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .gallery .Project img{
    width: 100%;
    display: block;
}
.portfolio .gallery .Project .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: var(--portfolio-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .gallery .Project .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .gallery .Project .overlay:hover{
    opacity: 1;
}
.portfolio .gallery .Project .overlay:hover h3{
    margin-bottom: 0px;
}

/******SECCION CONTACT********/

.contact{
    background-image: var(--background-img) ;
    background-color: var(--background-box);
    color: var(--white-texts);
    padding: 50px 0;
}
.contact .container-section{
    max-width: 1100px;
    margin: auto;
}
.contact h2{
    font-size: 48px;
    font-family: var(--font-tittles);
    text-align: center;
    padding: 20px 0;
}
.contact .file{
    display: flex;
}
.contact .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contact .col input, .contact .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: var(--background-box);
    color: var(--white-texts);
    font-size: 18px;
}
.contact button{
    cursor: pointer;
    background: transparent;
    color: var(--white-texts);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: var(--white-texts);
    position: relative;
    z-index: 10;
}
.contact button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--contrast);
    z-index: -1;
    transition: 1s;
}
.contact button:hover .overlay{
    width: 100%;
}
.contact .col img{
    width: 100%;
}
.contact .col .info{
    position: absolute;
    top: 40%;
    background-color: var(--background-box);
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact .col .info ul{
    list-style: none;
}
.contact .col .info ul li{
    margin-bottom: 20px;
}
.contact .col .info ul li i{
    color: var(--contrast);
    display: inline-block;
    margin-right: 20px;
}

/******FOOTER********/

footer{
    background-color: var(--background-box);
    color: var(--white-texts);
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .networks{
    margin-bottom: 20px;
}
footer .networks a{
    color: var(--white-texts);
    display: inline-block;
    text-decoration: none;
    color: var(--white-texts);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;    
}
footer .up{
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--contrast);
    color: var(--white-texts);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}














